.profileImg {
	width: 23rem;
	height: 317px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
}

.profileImg img {
	width: 100%;
	height: 100%;
	object-position: 0 -150px;
	object-fit: cover;
	transition: all 0.3s ease-in-out;
}

.profileImg img:hover {
	scale: 1.05;
}
